<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sdf.dao.UserMapper">
    <!--this.uid = uid;
        this.username = username;
        this.passwd = passwd;
        this.address = address;
        this.gender = gender;
        this.age = age;
        this.identify = identify;
        this.user_phone = user_phone;-->
    <resultMap id="user" type="com.sdf.domain.User">
        <id property="uid" column="uid"/>
        <result property="username" column="username"/>
        <result property="passwd" column="passwd"/>
        <result property="address" column="address"/>
        <result property="gender" column="gender"/>
        <result property="age" column="age"/>
        <result property="identify" column="identify"/>
        <result property="user_phone" column="user_phone"/>
     </resultMap>
    <!--User userLogin(User user);-->
    <select id="userLogin" resultMap="user">
        select * from USER
        <where>
            username = #{user.username} and passwd = #{user.passwd}
        </where>
    </select>

    <!--boolean UserRegist(User user);-->
    <!--private String uid;//用户id
    private String username;//用户名
    private String passwd;//用户密码
    private String address;//用户收货地址
    private String gender;//用户性别
    private String age;//用户年龄
    private String identify;//用户身份证
    private String user_phone;//用户手机-->
    <insert id="userRegist">
        insert into user values
        (null,#{user.username},#{user.passwd},#{user.address},
        #{user.gender},#{user.age},#{user.identify},#{user.user_phone})
    </insert>
</mapper>